@model WOPHRMSystem.Models.ListLocationDetails


<!-- DataTables -->
<link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="~/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<!-- Bootstrap4 Duallistbox -->
<link rel="stylesheet" href="~/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
<!-- BS Stepper -->
<link rel="stylesheet" href="~/plugins/bs-stepper/css/bs-stepper.min.css">
<!-- dropzonejs -->
<link rel="stylesheet" href="~/plugins/dropzone/min/dropzone.min.css">
<style>
    .disable-height {
        height: auto !important;
    }

    .list-group {
        max-height: 400px;
        margin-bottom: 10px;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
</style>
@{
    int Rows = 1;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <!-- /.card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Customer Has Location's </h3>
                </div>
                <!-- /.card-header -->
                <div class="list-group">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="display:none;">Id</th> <!-- Hidden Id column -->
                                <th colspan="1">From Date</th>
                                <th colspan="1">To Date</th>
                                <th colspan="2">Rate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="ratesBody">
                            @foreach (var s in Model.LocationModels)
                            {
                                <tr>
                                    <td style="display:none;">@s.Id</td> <!-- Hidden Id column -->
                                    <td>@s.FromDate</td>
                                    <td>@s.ToDate</td>
                                    <td>@s.Rate</td>



                                </tr>
                                Rows++;
                            }
                            @using (Html.BeginForm("", "", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", id = "quickForm1", @autocomplete = "off" }))
                            {
                                @Html.HiddenFor(model => model.Id)
                                <tr>
                                    <td style="display:none;"></td> <!-- Hidden Id column -->


                                    <td colspan="1">
                                        <label for="exampleInputEmail1">From Date</label>
                                        @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control form-control-sm", id = "FromDate", onchange = "handleDateChangelocation()" } })
                                    </td>
                                    <td colspan="1">
                                        <label for="exampleInputEmail1">To Date</label>
                                        @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control form-control-sm", id = "ToDate", onchange = "handleDateChangelocation()" } })
                                    </td>
                                    <td colspan="2">
                                        <label for="exampleInputEmail1">Rate</label>
                                        @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "", @type = "number", @min = "0", onchange = "handleDateChangelocation()" } })
                                    </td>


                                    <td class="project-actions text-right">
                                        <button style="margin:15px" class="btn btn-info btn-sm" type="button" onclick="SubmitStepTemperley()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

<!-- Ensure jQuery and jQuery Validation scripts are loaded -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="~/plugins/jquery-validation/additional-methods.min.js"></script>
<script>



     var Code = JSON.parse(localStorage.getItem('CustomerLocationList')) || [];
     var json = @Html.Raw(Json.Encode(@Model.LocationModels));
     Code = [...Code, ...json];
     localStorage.setItem('CustomerLocationList', JSON.stringify(Code));


    function handleDateChangelocation() {
        // Your logic here
        debugger
        var ToDate = document.getElementById("ToDate").value;
        var fromDate = document.getElementById("FromDate").value;
        var Rate = document.getElementById("Rate").value;


        if (fromDate != "") {
            document.getElementById("FromDate").className = "form-control text-box single-line";


        }
        if (ToDate != "") {

            document.getElementById("ToDate").className = "form-control text-box single-line";


        }

        if (Rate != "") {
            document.getElementById("Rate").className = "form-control text-box single-line";


        }

    }

    var IsValid = true;

    function SubmitStepTemperley() {

        debugger
        var ToDate = document.getElementById("ToDate").value;
        var fromDate = document.getElementById("FromDate").value;
        var Rate = document.getElementById("Rate").value;


        if (fromDate == "") {
            IsValid = false;
            document.getElementById("FromDate").className = "form-control text-box single-line is-invalid";

            return IsValid;
        }
        if (ToDate == "") {
            IsValid = false;
            document.getElementById("ToDate").className = "form-control text-box single-line is-invalid";

            return IsValid;
        }



        if (Rate == "") {
            IsValid = false;
            document.getElementById("Rate").className = "form-control text-box single-line is-invalid";

            return IsValid;
        }


        // Convert the date string to a Date object
        const todate = new Date(ToDate);
        const formdate = new Date(fromDate);

        // Get the timestamp in milliseconds
        const todatetimestamp = todate.getTime();
        const fromdatetimestamp = formdate.getTime();


        var CustomerId = document.getElementById("selectCustomer").value;


        var rates = JSON.parse(localStorage.getItem('CustomerLocationList')) || [];

        var rateObject = {
            id : 0,
            Fk_CustomerId: CustomerId,
            FromDate: fromDate,
            Rate: Rate,
            ToDate: ToDate
        };

        rates.push(rateObject);

        localStorage.setItem('CustomerLocationList', JSON.stringify(rates));
        displayRates();
    }

    // Function to convert the .NET JSON date format to MM/DD/YYYY
    function formatDate(dateInput) {
        if (!dateInput) return ''; // Handle null or undefined inputs

        let timestamp;

        // Check if dateInput is a string in "/Date(...)/" format
        if (typeof dateInput === 'string' && dateInput.includes('/Date')) {
            timestamp = parseInt(dateInput.replace("/Date(", "").replace(")/", ""), 10);
        }
        // Check if dateInput is already a Date object
        else if (dateInput instanceof Date) {
            timestamp = dateInput.getTime();
        }
        // Handle the case if it's already a timestamp number
        else if (typeof dateInput === 'number') {
            timestamp = dateInput;
        } else {
            // Invalid format, return an empty string
            return '';
        }

        const date = new Date(timestamp);

        const month = ('0' + (date.getMonth() + 1)).slice(-2); // Months are zero-based
        const day = ('0' + date.getDate()).slice(-2);
        const year = date.getFullYear();

        return `${month}/${day}/${year}`;
    }

     function displayRates() {
         var rates = JSON.parse(localStorage.getItem('CustomerLocationList')) || [];
         var ratesBody = document.getElementById('ratesBody');
         ratesBody.innerHTML = ''; // Clear previous rows

     rates.forEach(function (rate, index) {
         var row = `<tr>
                <td style="display:none;">${rate.Id}</td> <!-- Hidden Id column -->
                <td>${(rate.FromDate)}</td>
                <td>${(rate.ToDate)}</td>
                <td colspan="2">${rate.Rate}</td>




             </tr>


             `;
         ratesBody.innerHTML += row;
     });

     var row1 = `
        @using (Html.BeginForm("", "", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", id = "quickForm1", @autocomplete = "off" }))
   {
       @Html.HiddenFor(model => model.Id)
       <tr>
           <td style="display:none;"></td> <!-- Hidden Id column -->


           <td colspan="1">
               <label for="exampleInputEmail1">From Date</label>
               @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control form-control-sm", id = "FromDate",  onchange = "handleDateChangelocation()" } })
           </td>
           <td colspan="1">
               <label for="exampleInputEmail1">To Date</label>
               @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control form-control-sm", id = "ToDate",  onchange = "handleDateChangelocation()" } })
           </td>
           <td colspan="2">
               <label for="exampleInputEmail1">Rate</label>
               @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "",  @type = "number", @min = "0", onchange = "handleDateChangelocation()" } })
           </td>


           <td class="project-actions text-right">
               <button style="margin:15px" class="btn btn-info btn-sm" type="button" onclick="SubmitStepTemperley()">
                   <i class="fas fa-plus"></i>
               </button>
           </td>
       </tr>
   }
 `;
         ratesBody.innerHTML += row1;


    }


    function deleteRate(index) {
        var rates = JSON.parse(localStorage.getItem('CustomerLocationList')) || [];
        var listdata = JSON.parse(localStorage.getItem('CustomerLocationListForDropdown')) || [];
        rates.splice(index, 1);
        localStorage.setItem('CustomerLocationList', JSON.stringify(rates));
        displayRates();


    }


</script>