@model IEnumerable<WOPHRMSystem.Models.JobMasterCompletedModel>
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout1.cshtml";
}

<!-- DataTables -->
<link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<style>
    .disable-height {
        height: auto !important;
    }
</style>
@{
    int Rows = 1;
}

<div class="content-wrapper disable-height">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>List Of Job Completed </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">List Of Job </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- /.card -->
                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row no-print">
                                <div class="col-12">

                                    <a href="@Url.Action("Complted", "JobMaster")" class="btn btn-primary float-right">
                                        <i class="fas fa-plus"></i>
                                        Create New
                                    </a>

                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- /.card -->
                    <div class="card">
                        <!--<div class="card-header">-->
                        @*<h3 class="card-title">DataTable with default features</h3>*@
                        <!--</div>-->
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="display:none;">Id</th> <!-- Hidden Id column -->
                                        <th>Code</th>
                                        <th>Narration</th>
                                        <th>Customer Name</th>
                                        <th>Strat Date</th>
                                        <th>Due Date</th>
                                        <th>Status</th>
                                        <th>Completed Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var s in Model)
                                    {
                                        <tr>
                                            <td style="display:none;">@s.Id</td> <!-- Hidden Id column -->
                                            <td>@s.JobCode</td>
                                            <td>@s.Narration</td>
                                            <td>@s.CustomerName</td>
                                            <td>@s.StartDate.Value.ToShortDateString()</td>
                                            <td>@s.DueDate.Value.ToShortDateString()</td>
                                            <td>
                                                @if (s.IsCompleted)
                                                {
                                                    <span class="badge bg-primary">Completed</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-danger">Not Complete</span>
                                                }
                                            </td>
                                            <td>@s.CompletedDate.Value.ToShortDateString()</td>

                                        </tr>
                                        Rows++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>

@section scripts {
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>

    <script>
        $(document).ready(function () {
            var table = $("#example1").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "columnDefs": [
                    { "targets": 0, "visible": false } // Hide the Id column
                ],
                "order": [[0, "desc"]], // Sort by the hidden Id column in descending order
                "initComplete": function () {
                    this.api().buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                }
            });

            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });



    </script>
}
