@model WOPHRMSystem.Models.ListViewCurrentlyAssignees

<!-- DataTables -->
<link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<style>
    .disable-height {
        height: auto !important;
    }
</style>
@{
    int Rows = 1;
}






<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <!-- /.card -->
            <div class="card">
                <!--<div class="card-header">-->
                @*<h3 class="card-title">DataTable with default features</h3>*@
                <!--</div>-->
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="display:none;">Id</th> <!-- Hidden Id column -->
                                <th>Code</th>
                                <th>Type</th>
                                <th>Narration</th>
                                <th>Budgeted Hours</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model.JobMasterAssignTempModels)
                            {
                                <tr>
                                    <td style="display:none;">@s.Id</td> <!-- Hidden Id column -->
                                    <td>@s.Code</td>
                                    <td>@s.TypeOftable</td>
                                    <td>@s.Name</td>
                                    <td>
                                        <input type="text" class="form-control budgeted-hours" value="@s.BudgetedHours" />
                                    </td>

                                    <td class="project-actions text-right">
                                        <a class="btn btn-info btn-sm" onclick="getInputValue(this,'@s.TypeOftableId','@s.TypeOftable','@s.Name','@s.Code','@s.Designation',@s.BudgetedHours)">
                                            <i class="fas fa-pencil-alt"></i> select
                                        </a>

                                    </td>
                                </tr>
                                Rows++;
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>


<script>

    function getInputValue(button, typeOftableId, typeOftable, name, code, designation) {
        var row = button.closest('tr');
        var budgetedHours = row.querySelector('.budgeted-hours').value || 0;
        debugger


        // Call your AddAssign function or handle the values as needed
        AddAssign(typeOftableId, typeOftable, name, code, designation, budgetedHours);
    }


    var AddAssign = function (TypeOftableId, TypeOftable, Name, Code, Designation, BudgetedHours) {
        var selectElement = document.getElementById("selectUnit").value;
        //$("#loaderbody").removeClass('hide');

        debugger
        $.ajax({
            type: "Post",
            url: "/JobMaster/InsertSelectedAssign",
            data: { TypeOftableId: TypeOftableId, TypeOftable: TypeOftable, Name: Name, Code: Code, Designation: Designation, CustomerId: selectElement, BudgetedHours: BudgetedHours },

            success: function (result) {
                Swal.fire({

                    icon: result.Status,
                    title: result.Status,
                    text: result.Text
                }).then((result) => {
                    IsAssignee = true;
                    $('#errorAssignee').html("");
                    if (result.isConfirmed) {
                        var selectElement = document.getElementById("selectUnit").value;
                        $.ajax({
                            type: "GET",
                            url: "/JobMaster/ViewAssignees",
                            data: { customerId: selectElement, Createby: 'User' },

                            success: function (result) {
                                debugger
                                $("#staticEmployee").html(result);
                            },
                        })
                    }
                    else {
                        var selectElement = document.getElementById("selectUnit").value;
                        $.ajax({
                            type: "GET",
                            url: "/JobMaster/ViewAssignees",
                            data: { customerId: selectElement, Createby: 'User' },

                            success: function (result) {
                                debugger
                                $("#staticEmployee").html(result);
                            },
                        })
                    }
                })
            },
        })
    }

    $(document).ready(function () {
        $('.budgeted-hours').keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });

</script>