@model  WOPHRMSystem.Models.DepartmentThirdModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="content-wrapper disable-height">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Add New Department Third</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active"><a href="@Url.Action("Index","DepartmentThird")">List Of Department Third </a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- /.card -->
                    <div class="card">
                        @*<div class="card-header">
                                <h3 class="card-title"></h3>
                            </div>*@
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="card card-info">
                                <div class="card-header">
                                    <h3 class="card-title">Details</h3>
                                </div>

                                @using (Html.BeginForm("", "", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", id = "quickForm", @autocomplete = "off" }))
                                {
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">First Department </label>
                                            @Html.DropDownListFor(model => model.Fk_DepartmentIdFirst, Model.SelectListItems, "Select", htmlAttributes: new { @class = "form-control", id = "selectUnit", required = "required" })

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Second Department </label>
                                            @Html.DropDownListFor(model => model.Fk_DepartmentIdSecond, Model.SelectSecondListItems, "Select", htmlAttributes: new { @class = "form-control", id = "selectUnit", required = "required" })

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Code</label>
                                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", placeholder = "", required = "required" } })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Description</label>
                                            @Html.EditorFor(model => model.Narration, new { htmlAttributes = new { @class = "form-control", placeholder = "", required = "required" } })

                                        </div>
                                        <div class="form-group mb-0">
                                            <div class="custom-control custom-checkbox">
                                                @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check-input", id = "exampleCheck1" })
                                                <label for="exampleCheck1">Is Active.</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <div class="col-12">

                                            <button type="submit" class="btn btn-primary float-right">Submit</button>

                                        </div>

                                    </div>
                                }


                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>

@section scripts {
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- jquery-validation -->
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>

    <script>
    $(function () {
        $.validator.setDefaults({
            submitHandler: function () {
                //alert("Form successful submitted!");
                var data = $('#quickForm').serialize();
               
                PostCustomerInsert(data);
            }
        });
        $('#quickForm').validate({
            rules: {
                Code: {
                    required: true,

                },
                Fk_DepartmentIdFirst: {
                    required: true,
                },
                Fk_DepartmentIdSecond: {
                    required: true,
                },
                Narration: {
                    required: true,

                },
                IsActive: {
                    required: false
                },

            },
            messages: {
                Code: {
                    required: "Please enter a code",
                },
                Fk_DepartmentIdFirst: {
                    required: "Please Select the Department",
                },
                Fk_DepartmentIdSecond: {
                    required: "Please Select the Department",
                },
                Narration: {
                    required: "Please provide a description",

                },
                terms: "Please Select the Status"

            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });


    var PostCustomerInsert = function (model) {

        $.ajax({
            type: "Post",
            url: "/DepartmentThird/Create",
            data: model,

            success: function (result) {
                Swal.fire({

                    icon: result.Status,
                    title: result.Status,
                    text: result.Text
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "@Url.Action("Index", "DepartmentThird")"
                    }
                    else {
                        window.location.href = "@Url.Action("Index", "DepartmentThird")"
                    }
                })
            },
        })

    }
    </script>
}

